/* Color scheme
 *
 * Yellow: #ffce56;
 * Red: #e66353
 * Green: #a9ba5a
 * Brown: #4c241d
 * Olive: #efefd2
 */

* {
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #efefd2;
}

.boggle {
  position: relative;
}

.boggle-board {
  float: left;
}


.board-row {
  height: 34px;
  margin-bottom: 3px;
}

.board-row:last-of-type {
  margin-bottom: 0;
}

.board-row .letter:last-of-type {
  margin-right: 0;
}

.letter {
  background: #ffce56;
  border: 1px solid #4c241d;
  float: left;
  height: 34px;
  width: 34px;
  font-size: 24px;
  line-height: 34px;
  padding: 0;
  margin-right: 3px;
  font-weight: bold;
  text-align: center;
}

.letter:focus {
  outline: none;
}

.letter.selected {
  background: #e66353;
}

.boggle-countdown {
  text-align: center;
  padding: 14px;
  margin-top: -46px;
}

.boggle-found-words {
  background: #a9ba5a;
  border: 1px solid #4c241d;
  float: left;
  height: 145px;
  width: 132px;
  padding: 6px;
  font-size: 12px;
  line-height: 24px;
  margin-right: 5px;
  font-weight: bold;
}

.found-words-word {
  text-transform: uppercase;
}

.found-words-score {
  float: right;
}

.boggle-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: #a9ba5a;
  border: 1px solid #4c241d;
  padding: 20px 30px;
  text-align: center;
}

.boggle-modal h2 {
  margin: 0 0 20px;
}

.boggle-modal span {
  font-size: 14px;
  line-height: 20px;
}

.boggle-modal input {
  width: 155px;
  margin: 26px 16px 0;
  border: 1px solid #4c241d;
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  background: #ffce56;
  height: 30px;
}

.boggle-modal input.error {
  border: 1px solid #e66353;
}

.boggle-modal button {
  font-size: 12px;
  border: 1px solid #4c241d;
  padding: 5px;
  width: 155px;
  cursor: pointer;
  background: #efefd2;
  color: #4c241d;
  margin-top: 20px;
  height: 30px;
}

.boggle-modal button:hover {
  background: #e4e2e2;
}

.high-score-entry {
  text-align: left;
  margin-bottom: 4px;
  display: flex;
}

.high-score-entry:last-of-type {
  margin-bottom: 0;
}

.player-name {
  text-align: left;
  flex-grow: 1;
}

.player-score {
  padding-right: 4px;
}

.player-play-board {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
